*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* skynavyblue -- #134B70 */
    background-color:#1A3636 ;
    /* background-color:#201E43; */
    color: whitesmoke;
}
/* shared style starts */
.container{
    margin: .5rem auto;
    width: 80%;
    
}
h2{
    text-align: center;
    font-weight: 1000;
}
p{
    color: white;
}
html{
    scroll-behavior: smooth;
}

/* header style */

.header{
    align-content: center;
    width: 100%;
    height: 100vh;  
    background-size: cover;
}

/* navber style */
nav{
    /* border: 2px solid wheat; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
   
    
}

.sticky {
    background: #40534C;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

.name{   
    flex-basis:s 20%;
    text-align: center;
    margin-left: 2rem;
}
.name >span{

    color: rgb(13, 239, 163);
}
.menu-container {
    flex-basis: 50%;
    /* border: 2px solid rgb(60, 58, 58); */
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* justify-content: space-around; */
    width: 20rem;
    padding: .3rem;
    border-radius: .5rem;

}
.menu-container a {
    text-decoration: none;
    font-size: 1rem;
    color: rgb(247, 247, 247);
    position: relative;   
}

.menu-container a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #D6BD98;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.menu-container a:hover::after{
    width: 50%;
    /* color: #ff004f; */
}

.menu-container a p:hover{
    /* width: 50%; */
    color:#D6BD98;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-title-container{
    margin: 50px 1px;
    padding: 2rem;
    flex-basis: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:  2px solid rgb(158, 48, 48); */
}
.header-title-container>h2, .header-title-container>p{
    margin-bottom:.5rem ;
}
.banner-img-container{
    margin-top: 2rem;
    flex-basis: 45%;
    /* border: 2px solid blue; */
    height: 80dvh;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;

}

/* about section */
.about-section{
    height: 100vh; 
    margin-top: .5rem;
    display:flex ;
    /* align-content: center; */
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid rgb(96, 208, 130); */
    padding: .5rem;

}
.about-img{
    flex-basis: 35%;
    /* border: 2px solid red; */
    border-radius: .5rem;
    
}
.about-img img{
    width: 100%;
    border-radius: .5rem;
}

.about-title-container{
    flex-basis: 60%;
    padding: .5rem;
}
.about-title-container > h3 , .about-title-container > p {
   margin-bottom: .5rem;
}

.skill-experience-edu{
    display: flex;
    /* border: 2px solid red;   */
}
.tab-content{
    margin-top: 1rem;
}
.tab-link{
    font-size: 18px;
    margin-right: 50px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
   
    
}
.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background:#D6BD98;
    position: absolute;
    left: 0;
    bottom: -8px;
    transform: .5s;
    
}
/* .tab-link::after{  
    transform: .5s;   
}
.tab-link.active-link::after{
    color: #ff004f;
} */

.tab-link.active-link::after{
    width: 100%;
    color: #D6BD98;
}
.tab-content ul li{
    list-style: none;

}
.tab-content span{
    color: #D6BD98;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}

/* services section */
.serveces{
    height: 100vh; 
    align-content: center;

}
 
.services-container{
    
    margin-top: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 40px;

}
.services-container div{
    padding: .4rem;
    background: #40534C;
    border-radius: 9px;
    transition:  background 0.5s, transform .5s ;
    text-align: center;
    justify-content: center;
}
.services-container div a{
    text-decoration: none;
    color: white;
}
.services-container div:hover{
    background: #677D6A;
    transform: translate(-10px);
}
/* port folio or work section */

.portfolio-section{
    height: 100vh;
    align-content: center;
    margin-top: 1rem;
}
.portfolio-section h3{
    margin-left: 1rem;
}
.work-container{
    margin-top: 1rem;
    display: flex;
    justify-content:space-around ;

}
.work{
    position: relative;
    overflow: hidden;
    height: 10rem;
    width: 10rem;
    border-radius: .5rem;
    transition: transform 0.5s;

}
.work img{
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    /* display: block; */
}

.layer{
    width: 100%;
    /* height: 100%; */
    height: 0;
    background: linear-gradient(rgb(26, 54, 54),#677D6A);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
/* .layer */
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

/* footer */

footer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}
.end{
    padding: .8rem;
    padding-bottom: .8rem;
    flex-basis: 5%;
    /* background: #262626; */
    background: #40534C;
}
.contact-container{
    flex-basis: 80%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    /* align-items: center; */
}
.contact-left{
    padding: .5rem;
    /* border: 2px solid red; */
    flex-basis:35% ;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .contact-left h1 p{
    gap: 1rem;
} */

.email-icon, .phone-icon{
    color:  #ababab;
    margin-right: .2rem;
}
.socal-icons a{
    margin: .5rem;
    text-decoration: none;
    font-size: 1.9rem;
    gap: 1rem;
    /* margin-right: 15px; */
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s ;
   
}
.socal-icons a:hover{
    color:#D6BD98;
    /* color:#677D6A ; */
    transform: translateY(-5px) ;

}

.contact-right{
    flex-basis: 50%;
    align-content: center;
    /* border: 2px solid blue; */
}
.contact-right form{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form input, form textarea {
    width: 100%;
    border:none;
    /* background: #262626; */
    /* background:#D6BD98 ;  */
    /* background: #677D6A; */
    background: #40534C;
    
    padding: 1rem;
    color: white;
    border-radius: .5rem;
}
/* #ff004f */
.btn-primary {
    margin: 1rem;
    text-decoration: none;
    color: white;
    background: #677D6A;
    padding: .5rem;
    border-radius: .5rem;
    width: 8rem;
    border: none;
}
.btn-primary a{
    text-decoration: none;
    color: white;

}

.line{
    margin-top: 1rem;
    border: none;
    height: 2px;
    background:#ababab ;
   
}

.footer{
    text-align: center;
    margin-top: .3rem;
    color: #ababab;
    
}
#msg, #success-message{
    color: green;
    margin-top: -65px;
    display: block;
}
.btn-submit:hover{
    background-color: #ababab;

}